* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
}

.top {
    padding-top: 29px;
    padding-bottom: 110px;
    background: #F6F2F2;
}

.center {
    padding-left: calc(50% - 1250px / 2);
    padding-right: calc(50% - 1250px / 2);
}

.header {
    background: rgba(0, 0, 0, 0.8);
    border: 1px solid #000000;
}

.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
}

.menu__link {
    padding: 38px 23px 26px;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.49px;
    text-transform: uppercase;
    color: #E0E0E0;
    display: flex;
}

.menu__link:hover {
    background: #FF3F40;
}

.menu__link__active {
    background: #FF3F40;
}

.top__content {
    padding-top: 102px;
    display: flex;
    flex-wrap: wrap;
}

.top__heading {
    font-style: italic;
    font-weight: 800;
    font-size: 60px;
    line-height: 72px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: #000000;
    width: 618px;
}

.org__heading {
    letter-spacing: 6px;
}

.top__text {
    width: 543px;
}

.text {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #000000;
}

.top__text {
    margin-top: 36px;
    margin-bottom: 63px;
}

.top__video {
    width: 554px;
    height: 359px;
    box-shadow: -2.2px -13.8px 73px 0px rgba(0, 0, 0, 0.29);
}

.button {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 34px;
    letter-spacing: 0.3195px;
    background: #FF2D2D;
    padding: 14px 63px 17px;
    color: #FFFFFF;
    border-radius: 5px;
    cursor: pointer
}

/* Сервис-страница */

.service__box {
    padding-top: 107px;
    padding-bottom: 98px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 52px 20px;
    border-bottom: 5px solid #ececec;
}

.service__container {
    grid-column: span 2;
    grid-row: span 2;
}

.service__header {
    width: 523px;
    font-style: normal;
    font-weight: 700;
    font-size: 42px;
    line-height: 55px;
    letter-spacing: 0.422159px;
    text-transform: uppercase;
    color: #000000;
    margin-bottom: 51px;
}

.service__text {
    width: 539px;
    margin-bottom: 64px;
}

.service__button {
    border: 2px solid #FF0000;
    border-radius: 5px;
    padding: 15px 60px;
    font-style: normal;
    font-weight: 700;
    font-size: 18.0412px;
    line-height: 34px;
    letter-spacing: 0.3195px;
    color: #FF2D2D;
}

.service__item {
    width: 300px;
}

.service__item__header {
    margin-top: 30px;
    margin-bottom: 12px;
    font-style: italic;
    font-weight: 600;
    font-size: 24.0692px;
    letter-spacing: 0.271838px;
    color: #000000;
}